@keyframes confettiFall {
    0% { transform: translateY(-100vh) rotate(0deg); }
    100% { transform: translateY(100vh) rotate(720deg); }
}

body {
    font-family: 'Verdana', monospace;
    background: linear-gradient(to right, #000000, #000000);
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    overflow: hidden;
}

.container {
    background-color: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(10px);
    border-radius: 15px;
    padding: 30px;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    max-width: 400px;
    width: 100%;
    position: relative;
    z-index: 10;
}

h1 {
    margin-bottom: 20px;
    font-size: 2.5em;
    color: #00ffdd;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
}

p {
    font-size: 1.2em;
    margin-bottom: 20px;
}

input[type="text"] {
    width: calc(100% - 20px);
    padding: 10px;
    border: none;
    border-radius: 5px;
    margin-bottom: 20px;
    font-size: 1em;
}

button {
    background-color: #00ff04;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 1em;
    color: #333;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #e6b800;
}

.greeting {
    display: none;
    font-size: 1.5em;
    margin-top: 20px;
    color: #ffcc00;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.3);
}

.confetti {
    position: absolute;
    top: 0;
    left: 0;
    width: 10px;
    height: 10px;
    background-color: #ffcc00;
    animation: confettiFall linear infinite;
}

.confetti:nth-child(odd) {
    background-color: #ff5e62;
}

.confetti:nth-child(even) {
    background-color: #ff9966;
}